#addpost {
	flex: 1;
}
h2 {
	margin: 10px;
}
form label {
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}
form input[type=text], form input[type=url] {
	width: 100%;
}
#or {
	text-align: center;
	font-size: 20px;
	color: #D3D3D3;
}
textarea {
	width: 100%;
	height: 100px;
}