.warning, .notice {
	padding: 10px;
	margin: 10px 10px 0;
}

body {
	justify-content: center;
}

h2 {
	margin: 25px 0 0 10px;
}
section {
	width: 250px;
	padding: 25px;
}

form {
	display: flex;
	flex-direction: column;
}
	form label {
		text-align: left;
		display: block;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
	}
	form label input {
		flex: 1;
	}
	form div {
		display: flex;
	}
	form div input {
		flex: 1;
	}
	form div input[type=submit] {
		margin-right: 25px;
	}