* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: sans-serif;
	background: #eee;
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
}
a {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

.notice, .warning {
	padding: 15px;
	margin-bottom: 10px;
}
.warning {
	background: #FCC;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.notice {
	background: #CFC;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.NA {
	color: #999;
}
.hidden {
	display: none;
}

section {
	background: #fff;
	color: #462066;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
	section h2 {
		color: #00AAA0;
	}

form label {
	font-weight: bold;
}
input {
	padding: 5px 10px;
}
input[type=button], input[type=submit] {
	border: 1px solid #999;
	padding: 4px 15px;
	font-weight: bold;
	background: #FCF4D9;
	color: #462066;
}
input[type=submit] {
	background: #FF7A5A;
}

table {
	border-collapse: collapse;
}
	table td, table th {
		border: 0;
		padding: 10px;
	}

header {
	background: #462066;
	height: 100px;
	width: 100%;
}
	header h1 {
		line-height: 100px;
		margin: 0 10px;
	}
		header h1 a {
			color: #FFB85F;
			text-decoration: none;
		}

	#loader {
		transition: opacity 250ms;
		position: fixed;
		top: 10px;
		left: 50%;
		font-size: 12px;
		padding: 3px 15px;
		background: #fff;
		border: 1px solid #999;
		border-radius: 5px;
		opacity: 0;
		z-index: 1;
	}

nav {
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	margin: 10px 0 10px 10px;
	width: 200px;
}
	nav #user-info {
		border-bottom: 1px solid #999;
		text-align: right;
		padding: 10px;
		font-size: 18px;
	}
	nav	ul {
		padding: 0;
		margin: 0;
	}
		nav li {
			transition: background 200ms, color 200ms;
			list-style-type: none;
		}
		nav li:hover {
			background: #8ED2C9;
			cursor: pointer;
		}
		nav li.selected {
			box-shadow: inset 8px 0px 0px #FFB85F;
		}
			nav li a {
				padding: 10px 15px;
				color: #666;
				display: block;
			}
			nav li a:hover {
				color: #FCF4D9;
				text-decoration: none;
			}


.votes {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	align-items: center;
	width: 40px;
}
	.votes .upvote, .votes .downvote {
		cursor: pointer;
		width: 0;
		height: 0;
		border: solid transparent;
	}
	.votes .upvote {
		border-width: 0 8px 8px 8px;
		border-bottom-color: #999;
	}
	.votes .upvote:hover, .votes .upvote.voted {
		border-bottom-color: #FF7A5A;
	}
	.votes .downvote {
		border-width: 8px 8px 0 8px;
		border-top-color: #999;
	}
	.votes .downvote:hover, .votes .downvote.voted {
		border-top-color: #00AAA0;
	}
	.votes .votecount {
		margin: 5px 0;
	}

.infobar, .infobar > a {
	color: #999;
	font-size: 12px;
}
.infobar > * {
	display: inline-block;
	margin-right: 10px;
}