#posts {
	flex: 1;
}

.post {
	display: flex;
}
	.post .votes .upvote {
		border-width: 0 10px 10px 10px;
	}
	.post .votes .downvote {
		border-width: 10px 10px 0 10px;
	}
	.post .title {
		font-size: 18px;
		display: block;
		margin: 5px 0;
	}