h1, h2 {
	margin-left: 10px;
}

#profile {
	flex: 1;
}
	#profile table {
		background: #fff;
		margin-left: 10px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	}
	#profile table td, #profile table th {
		text-align: left;
		font-weight: normal;
	}