#settings {
	flex: 1;
}
h3 {
	margin: 10px;
}

.warning, .notice {
	margin: 0 10px;
}

table {
	width: 100%;
}

table tr.current {
	background: #FFB85F;
}

label {
	margin-bottom: 10px;
	display: inline-block;
}

#sessions-reset {
	margin-top: 10px;
}